{{ define "main" }}
<style> .main { padding:0px !important; }</style>
<div style="background: url(/img/homepage/1.webp); background-repeat: no-repeat;
background-size: cover;" class="banner row row-cols-lg-2 row-cols-1 gy-3 align-items-center">
    <div>
        <h1>Transform Your Online Reputation with AsMagnets</h1>
        <p>AsMagnets is a reputation marketing consulting firm that helps businesses enhance their online image and increase their visibility. Our team of experts will work with you to develop and execute a customized strategy that will improve your online presence and build trust with your audience. </p>
        <a class="btn btn-primary" href="/contact/">Learn More</a>
    </div>    
</div>
<div class="container">
    <div class="row row-cols-lg-2 row-cols-1 gy-3 align-items-center">
        <img src="/img/homepage/2.webp" alt="">
        <div>
            <h3>Reputation Audit</h3>
            <p>We will thoroughly analyze your online presence to identify any negative elements that may be impacting your reputation. This information will be used to develop a strategy for improvement and to track progress.</p>
            <a href="/contact/" class="btn btn-secondary">Learn More</a>
        </div>
    </div>
    <div class="row row-cols-lg-2 row-cols-1 gy-3 align-items-center">
        <div class="col gy-5">
            <h3>Reputation Management</h3>
            <p>We will help you manage your online reputation by monitoring your online presence, responding to reviews and feedback, and executing a plan to improve your online image. We'll also provide regular reports to keep you updated on your progress.</p>
            <a href="/contact/" class="btn btn-secondary">Learn More</a>
        </div>
        <img src="/img/homepage/3.webp" loading="lazy" alt="">
    </div>
    <div class="row row-cols-lg-2 row-cols-1 gy-3 align-items-center">
        <img src="/img/homepage/4.webp"  loading="lazy" alt="">
        <div>
            <h3>Reputation Marketing</h3>
            <p>We will help you promote your positive reputation by creating and distributing content that highlights your strengths and accomplishments. This will help you establish a strong online image and attract new customers.</p>    
            <a href="/contact/" class="btn btn-secondary">Learn More</a>
        </div>
    </div>
    <div class="row row-cols-lg-2 row-cols-1 gy-3 align-items-center">
        
        <div class="col gy-5">
            <h3>Online Visibility</h3>
            <p>We will help you increase your online visibility by optimizing your website and online profiles, improving your search engine ranking, and leveraging social media to reach a wider audience. We'll also help you monitor your online visibility to track progress and make adjustments as needed.</p>
            <a href="/contact/" class="btn btn-secondary">Learn More</a>
        </div>
        <img src="/img/homepage/7.webp" loading="lazy" alt="">
    </div>
    <div class="row row-cols-lg-2 row-cols-1 gy-3 align-items-center">
        <img src="/img/homepage/5.webp" loading="lazy" alt="">
        <div>
            <h3>Maximize Your Online Presence</h3>
            <p>At AsMagnets, we understand the importance of a positive online reputation. That's why we offer a range of services to help your business establish and maintain a strong online presence.</p>
            <a href="/contact/" class="btn btn-secondary">Learn More</a>
        </div>
    </div>
    <div class="row row-cols-lg-2 row-cols-1 gy-3 align-items-center">
        <div>
            <h3>Effective Reputation Management</h3>
            <p>Our team of experts will work with you to identify areas where your online reputation needs improvement and develop a strategy to effectively manage your reputation online. Contact us today to learn more about our reputation management services.</p>
            <a href="/contact/" class="btn btn-secondary">Learn More</a>
        </div>
        <img src="/img/homepage/6.webp" loading="lazy" alt="">
    </div>
{{ end }}

